@media only screen and (max-width: 1050px) {
    .container {
      grid-gap: 5rem;
    }
  }
  
  @media only screen and (max-width: 1000px) {
      form {
        width: 290px;
  
        h2 {
          font-size: 2.4rem;
          margin: 8px 0;
        }
      }
  
      .img img {
        width: 400px;
      }
  }
  
  @media only screen and (max-width: 900px) {
    .img {
      display: none;
    }
  
    .wave {
      display: none;
    }
  
    .container {
      grid-template-columns: 1fr;
    }
  
    .login-container {
      justify-content: center;
    }
  }